<!DOCTYPE html>
<html lang="en">

<head>
    <title>Preview CRDs</title>
</head>

<body>
<form class="col s12" action="/submit" method="POST">
    <div class="row">
        <div class="input">
            <label for="crd_data">Paste in a CRD</label>
            <input id="crd_data" type="text" class="validate" name="crd_data">
        </div>
    </div>

    <button class="btn waves-effect waves-light pink" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>

</form>
</body>

</html>
