<!DOCTYPE html>
<html lang="en">

<head>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Preview CRDs</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/all.css" rel="stylesheet" type="text/css">
    <link href="static/css/prism.css" rel="stylesheet" type="text/css">
    <link href="static/css/prism-okaidia.css" rel="stylesheet" type="text/css">
    <link href="static/css/root.css" rel="stylesheet" type="text/css">
</head>

<body class="dark-mode" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">
<div class="content-wrapper">
    <div class="container">
        <div class="versions">
            {{range .Versions}}
            <h1>
                Version: {{.Group}}/{{.Version}}<br>
                Kind: {{.Kind}}
            </h1>
            <p class="font-size-18">
            <div>
                <p>{{.Description}}</p>
            </div>
            </p>
            <div class="d-flex flex-row-reverse mb-10 mt-10">
                <button class="btn ml-10" type="button" onclick="expandAll()">
                    + expand all
                </button>
                <button class="btn" type="button" onclick="collapseAll()">
                    - collapse all
                </button>
            </div>
            <div class="collapse-group">
                {{range $i, $v := .Properties}}
                <details class="collapse-panel">
                    <summary class="collapse-header position-relative">
                        {{$v.Name}} <kbd class="text-muted">{{$v.Type}}</kbd>
                        {{if .Format}}
                        <kbd class="text-muted">{{.Format}}</kbd>
                        {{end}}
                        {{if .Patterns}}
                        <kbd class="text-muted">{{.Patterns}}</kbd>
                        {{end}}
                        {{if $v.Required}}
                            <span class="badge badge-primary">required</span>
                        {{end}}
                    </summary>
                    <div id="{{$v.Name}}" class="collapse-content">
                        <div class="property-description">
                            <p>{{$v.Description}}</p>
                        </div>
                        {{template "properties" .Properties}}
                    </div>
                    <br>
                </details>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</div>
<script>
    function expandAll() {
        console.log("todo: loop through all elements and expand them")
    }

    function collapseAll() {
        console.log("todo: loop through all elements and collapse them")
    }
</script>
</body>
</html>

<!-- Recursively walk the properties to construct embedded divs. -->
{{define "properties"}}
{{if .}}
{{range . }}
<details class="collapse-panel">
    <summary class="collapse-header position-relative">
        {{.Name}} <kbd class="text-muted">{{.Type}}</kbd>
        {{if .Format}}
        <kbd class="text-muted">{{.Format}}</kbd>
        {{end}}
        {{if .Patterns}}
        <kbd class="text-muted">{{.Patterns}}</kbd>
        {{end}}
        {{if .Required}}
        <span class="badge badge-primary">required</span>
        {{end}}
    </summary>
    <div id="{{.Name}}" class="collapse-content">
        <div class="property-description">
            <p>{{.Description}}</p>
        </div>
        <div class="collapse-group">
            {{template "properties" .Properties}}
        </div>
    </div>
    <br>
</details>
{{end}}
{{end}}
{{end}}
