name: Sync types_jsonschema from apiextensions-apiserver

on:
  schedule:
    - cron: "0 0 * * *"  # Runs daily at midnight
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sync-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout This Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Checkout Kubernetes API server
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: kubernetes/apiextensions-apiserver
          path: apiextensions-apiserver

      - name: Install GitHub CLI
        run: sudo apt-get install gh

      - name: Run sync script
        run: |
          ./hack/keep_json_schema_uptodate.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
